html, body {
    font-family: 'Oswald', sans-serif;
    height: 100%;
}

body {
    background-color: #282631;
    color: white
}



/*===============================
      Application container
=================================*/
input {
    width: 100%;
    border-radius: 10px;
    -webkit-appearance: none;
    border: 1px solid #d6d6d6;
    padding: 10px;
}

input:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: #b8b8b8;
    font-family: 'Oswald', sans-serif;
}

.applicant_input button {
    height: 60px;
    width: 100px;
    top: 50%;
    right: 10px;
    margin-top: -30px;
}

#applicant_value {
    padding-right: 120px;
}

.applicant_list {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.applicant_list_wrapper span {
    background: #3F51B5;
}

.applicant_list_wrapper span:hover {
    background: darkred;
}

.tag-name {
    cursor: pointer;
}

.button_container {
    margin-top: 20px;
}

.remove-all-applicants {
    background: #3F51B5;
    display: none;
}

.remove-all-applicants:hover {
    cursor: pointer;
    background: darkred;
}

.tapToRemove{
    display: none;
}

/*==============================
      Timer section
==============================*/

.poker__face--img {
    width: 20rem;
    height: 20rem;
}

#joke {
    width: 70rem;
    height: 15rem;
}

#timerId {
    width: 10rem;
    height: 10rem;
}

/*===============================
      Results container
=================================*/

.results_container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.animated {
    padding: 40px;
    animation: animate linear 2s;
    border-radius: 50%;
}

@keyframes animate {
    0% {
        transform: translateX(-500px) translatey(-500px) scale(0.2) rotate3d(360, 360, 360, 360deg);

    }
    100% {
        transform: translateX(0px) translatey(0px) scale(1) rotate3d(0, 0, 0, 70deg);
    }
}


.results_container h3 {
    color: #ff0018;
}

.results_action div {
    cursor: pointer;
}